
.service-body {
     background: white;
     padding: 22px;
     width: 318px;
     text-align: center;
     position: relative;
     top: -77px;
     left: 24px;
     box-shadow: 4px 9px 6px #eee;
     border-radius: 10px;
     height: 270px;
 }

 button.book-btn {
    border: none;
    background: #FF9801;
    color: white;
    padding: 7px 16px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 600;
}

 button.book-btn:hover{
     background: #ff9901c5;
     transition: linear .3s;
 }

