
.news-cart {
     background: #eee;
     margin: 20px;
     width: 340px;
     padding: 50px 32px;
     color: #1a1a1b;
     border-radius: 16px;
 }

 .news-cart:hover {
    background: #ff9d09be;
    transition: linear .5s;
    box-shadow: 8px 7px 14px gainsboro;
}

 h3.cart-title {
     font-family: sans-serif;
     font-weight: 600;
     font-size: 24px;
     margin: 25px 0;
 }

 p.cart-para {
     font-size: 20px;
     margin-top: 50px;
     margin-bottom: 40px;
 }

 .cart-icon {
     color: #FF9801;
     font-size: 19px;
     margin-right: 7px;
 }